{% extends 'layout.html' %}
{% block body %}
<section class="hide-on-small-only">
    <div class="container" style="text-align: center;">
        <h4 id="text" class="center-align with-subtitle">Digit Recognizer</h4>
        <h5 class="subtitle center-align">Draw a digit on the drawing board below and click on Predict</h5>
        <div class="row center-align">
            <div class="container">
                <div class="board" id="default-board" height="520" style="float:left;margin-left: 15%;"></div>
                <div class="result">
                    <span id="result" style="margin:50px auto;font-family: Helvetica;font-size: 14px;
                    color:#828282;">Prediction will be displayed here</span>

                </div>
            </div>
        </div>
        <button id="button" class="waves-effect waves-light btn" onclick=digit_process()>Predict</button>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="{{ url_for('static', filename='style/drawingBoard.min.js') }}"></script>
<script src="{{ url_for('static', filename='style/hermiteResize.js') }}"></script>
<script>
    var board = new DrawingBoard.Board('default-board', {
        controls: [
            {DrawingMode: {pencil: false, eraser: false, filler: false}},
            {Navigation: {back: false, forward: false}},
            'Download'
        ],
        size: 10,
        webStorage: false,
        enlargeYourContainer: true
    });

    function digit_process() {
        var resizedCanvas = document.createElement('canvas');
        resample_single(board.canvas, 28, 28, true, resizedCanvas);
        var ctx = resizedCanvas.getContext("2d");
        var imgData = ctx.getImageData(0, 0, ctx.canvas.width, ctx.canvas.height);
        var data = imgData.data;
        var grayscale_list = [];
        for (var i = 0; i < data.length; i += 4) {
            var avg = (data[i] + data[i + 1] + data[i + 2]) / 3;
            data[i] = avg; // red
            data[i + 1] = avg; // green
            data[i + 2] = avg; // blue
            grayscale_list.push(avg);
        }
        ctx.putImageData(imgData, 0, 0);
        var img = ctx.getImageData(0, 0, ctx.canvas.width, ctx.canvas.height).data;

        $(function () {
            $('#result').html("Predicting . . .");
            console.log("Function is successfully called");
            $.ajax({
                url: '/digit_process',
                data: JSON.stringify(grayscale_list),
                contentType: "application/json; charset=utf-8",
                type: 'POST',
                success: function (response) {
                    console.log(response);
                    $('#result').html("Prediction : <br><span class='digit'>" + response['digit'] +
                        "</span></br> Probability : " + response['probability']);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    }
</script>
{% endblock %}

